.ant-tabs-tab {
    background-color: transparent !important;
    border-radius: 15px 15px 0px 0px !important;
}

.ant-tabs-nav-add {
    background-color: transparent !important;
    border-radius: 15px 15px 0px 0px !important;
}

.ant-tabs-content-holder {
    overflow-y: scroll;
    padding: 0px 15px;
}

.ant-comment-inner {
    padding: 8px 0 !important; 
}

.ryvn-comment-other {
    max-width: 45%; 
    background: #E9EBED; 
    padding: 10px; 
    border-radius: 2px 15px 15px 15px;
}

.ryvn-comment-self {
    float: right; 
    max-width: 45%; 
    background: #3FA9FF;
    color: white; 
    padding: 10px; 
    border-radius: 15px 2px 15px 15px;
}

.chatroom-layout {
    display: flex;
    background: white;
	flex-direction: column;
	height: 100%;
}

.chatroom {
	flex: 1 1 auto;
    min-height: 100px;
}

.ryvn-search > span > input {
    border: 0.5px solid gray;
    border-radius: 25px;
    height: 30px;
}

.ryvn-search > span > span {
    background: white !important;
}

.ryvn-search > span > span > button {
    height: 30px;
    border-width: 0.5px;
    border-style: solid solid solid none;
    border-color: gray;
    color: gray;
    background: white;
    box-shadow: 0px 0px 0px 0px !important;
    border-radius: 0px 25px 25px 0px !important;
}