.ryvn-avatar {
    width: 60px !important;
    height: 60px !important;
    margin: 10px 0px !important;
    background-color: transparent !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.ryvn-sidebar-container {
	display: flex;
    background: white;
	flex-direction: column;
	height: 100%;
}

.ryvn-sidebar-one {
	/* flex: 1 1 auto; */
	overflow-y: hidden;
    text-align: center;
    min-height: 120px;
}

.ryvn-sidebar-two {
	flex: 1 1 auto;
    text-align: center;
	overflow-y: scroll;
    min-height: 100px;
}